[submodule "src/frontend/ui"]
	path = src/frontend/ui
	url = git@github.com:kommandr/ui.git
	branch = dev
[submodule "src/backend/api"]
	path = src/backend/api
	url = git@github.com:kommandr/api.git
	branch = dev
[submodule "src/backend/recommendr"]
	path = src/backend/recommendr
	url = git@github.com:kommandr/recommendr.git
	branch = master
