[submodule "src/api"]
	path = src/api
	url = git@github.com:kommandr/api.git
[submodule "src/ui"]
	path = src/ui
	url = git@github.com:kommandr/ui.git
[submodule "src/recommendr"]
	path = src/recommendr
	url = git@github.com:kommandr/recommendr.git
