@import 'variables';
.no-scroll {
  height: 100%;
  overflow: hidden;
  width: 100%;
  main { 
    border: 0;
    background: initial;
    padding: 0;
  }
}

body {
  height: inherit;
  width: inherit;
  overflow: inherit;
  margin-bottom: 75px;
}

#root, .app, main {
  height: inherit;
}
.app{
  display: flex;
  flex-direction: column;
}
/*
 HEADER
*/

main {
  background-color: white;
  padding: 15px 0;
}
header {
  background-color: $header-bg;
  border-bottom: 1px solid $header-border-color;
  color: $header-font-color;
  height: $header-height;
  .btn-link {
    color: $header-link-color;
    &:hover {
      color: $header-link-color-hover;
      text-decoration: none;
    }
  }
  a {
    color: $header-link-color;
    &:hover {
      color: $header-link-color;
    }
  }
  .header-links {
    .fa {
      font-size: 1.3rem;
    }
  }

}
.modal-login {
  ul.oauth-providers {
    list-style-type: none;
    text-align: center;
    li {
      margin-bottom: 15px;

      &:last-child {
        margin-bottom: 0px;
      }
    }
  }
}
a {
  color: $link-color;
}
.content {
  height: calc(100% - #{$footer-height} - #{$header-height});
  overflow-y: auto;
  padding-top: 1rem;
  position: relative;
  &.sidebar-offset {
    width: calc(100% - #{$sidebar-width});
  }
}

.inline-stats, .inline-actions {
  list-style-type: none;
  margin: 0;
  padding: 0;
  li {
    display: inline-block;
    margin-right: 0.8rem;
    text-align: center;
    &:last-child {
      margin: 0;
    }
  }
}

.inline-stats {
  color: #999;
  font-size: 0.9rem; 
  li {
    .full {
      button {
        border: 1px solid rgba(0, 0, 0, 0.15);
        color: black;
        cursor: pointer;
        text-decoration: none!important;
        &:hover {
          color: black;
        }
      }
    }
    .compact {
      font-size: 0.8rem;
    }
  }
  
  .input-group-addon {
    background-color: white;
  }
}

.CodeMirror {
  font-family: 'Ubuntu Mono', monospace!important;
  font-weight: bold;
  span.cm-builtin {
    color: black;
    font-weight: bolder;
  }
  span.cm-attribute {
    color: #007bff;
  }
  span.cm-string {
    color: #d30289;
  }

  span.cm-number { 
    color: #28a746;
  }
  pre.CodeMirror-placeholder {
    color: $ultra-light-dark;
  }
}

.command-line-container, .kommandr-container {
  flex-direction: column;
  width: 70%;
  h1, h2, h3, h4 {
    font-family: 'Bitter', serif;
  }

  .CodeMirror {
    font-size: 1.9rem;
    height: initial;
    padding: 8px;
    .CodeMirror-lines { 
      padding: 0px;
    }
  }

  .kommandr-title {
    color: $kommandr-title-font-color;
    flex: none;

    h2 {
      display: inline-block;
      font-size: $kommandr-title-font-size;
      margin: 0;
    }
    .editable-input {
      background-color: transparent;
      border: 0px;
      font-size: $kommandr-title-font-size;
      font-family: $kommandr-title-font-family;
      padding: 0;
      width: 100%;
    }
  }

  .kommandr-actions {
    flex: none;
  }
  .kommandr {
    background-color: $kommandr-background;
    border: 1px solid #E1E4E5;
    border-radius: 4px;
    color: $kommandr-font-color;
    flex: none;
    font-size: 1.5em;
    width: 100%;
  }

  .kommandr-author {
    border-bottom: 1px solid $light-gray;
    flex: none;
    width: 100%;
  }
  .kommandr-description {
    textarea {
      min-width: 470px;
      width: 80%;
    }
    .static-description {
      white-space: pre-line;
    }
  }
  .kommandr-timestamps {
    color: $dark;
    font-style: italic;
    font-size: 0.9rem;
    text-align: right;
  }

  .kommandr-comments {
    flex: 1;
    margin: 0 -15px;
    padding: 0 5px 0 15px;
    overflow: scroll;
    &::-webkit-scrollbar {
      background-color: transparent;
      border: none;
      width: $scrollbar-width;
    }
    &::-webkit-scrollbar-thumb
    {
      background-color: $scrollbar-color;
      border: none;
    }
  }
}


.list-kommandrs { 
  list-style-type: none;
  padding: 0;
  width: 100%;

  .kommandr-item {
    padding: 0.5rem 1rem;
    width: 100%;
  
    h6 { 
      font-size: 1rem;
      margin-bottom: 0.15rem;
    }
    
    .CodeMirror {
      font-size: 1.1rem;
      height: initial;
    }
    &.compact {
      .kommandr-stats {
        font-size: 0.8rem;
      }
    }
  
    .kommandr-author {
      border-top: 1px solid #EEEEEE;
      margin-top: 1rem;
      padding-top: 1rem;
    }
  
    .kommandr-description {
      textarea, p {
        width: 100%;
        white-space: pre;
      }
    }
  }
}


.command-line-sidebar, .sidebar {
  background-color: $sidebar-bg;
  border-left: 1px solid $sidebar-border-color;
  flex-direction: column;
  min-width: 250px;
  width: 30%;

  .sidebar-search {
    border-bottom: 1px solid $sidebar-border-color;
    padding: 15px;

    input {
      width: calc(100% - 20px);
    }
  }

  .sidebar-menu {

    li {
      padding: 8px;
      font-size: 0.9rem;
      &.parent {
        font-weight: bold;
      }
    }
  }
  .sidebar-ad {
    bottom: 0;
    position: absolute;
    text-align: center;
    width: 100%;
  }
}

.sidebar-search-results {
  height: 100%;
  overflow: auto;
  
  &::-webkit-scrollbar {
    background-color: transparent;
    border: none;
    width: 10px;
  }
  &::-webkit-scrollbar-thumb
  {
    background-color: $scrollbar-color;
    border: none;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
}

.footer {
  background-color: $footer-bg;
  border-top: 1px solid $footer-border-color;
  color: $footer-font-color;
  height: $footer-height;
  line-height: $footer-line-height;
  width: 100%;
}


.content-editable {
  .editable {
     >:hover {
      background-color: #F0F0F0;
    }
  }
  .editable-input {
    display: none;
    border: 1px solid transparent;
    width: 100%;
  }
  &.editing {
    .editable {
      display: none;
    }
    .editable-input {
      display: inline-block;
      border: 1px solid $light-gray;
      outline: 0;
      padding: 0;
      width: 100%;
    }
  }

}

.container-list-actions {
  display: table;
  margin-top: 15px;
  margin-bottom: 15px;
  width: 100%;
  position: relative;
  .list-action-create {
    margin-left: 15px;
  }
}
.container-search-input {
  background-color: $search-input-bg;
  border: 1px solid $search-input-border-color;
  line-height: $search-input-line-height;
  font-size: $search-input-font-size;
  padding: 0.5rem 0.75rem;
  width: 100%;
  label {
    color: $search-input-icon-color;
    position: absolute;
  }
  input {
    border: 0;
    margin-left: 28px;
    padding: 0;
    &focus::-webkit-input-placeholder {
      color: $light-gray;
    }
    &::-webkit-input-placeholder {
      color: $search-input-placeholder-color;
    }
  }
}

.my-list {
  list-style-type: none;
  padding-left: 0;
  .list-item {
    border-bottom: 1px solid $light-gray;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

.placeholder {
  background: #DDD;
}

.user-avatar {
  &.sm-avatar {
    height: 48px;
    width: 48px;
  }
  &.lg-avatar {
    width: 100%;
  }

  img {
    width: 100%;
  }
}

.username {
  font-weight: bold;
}

.prompt, .search-input {
  user-select: none;
}
.program, .prompt, .option, .argument, .separator {
  font-family: consolas, "Liberation Mono", courier, monospace;
}
//.show { display: block !important;}
.hide { display: none !important;}

.loading-tag {
  border: 1px solid #CFB025;
  color: #000000;
  left: 50%;
  position: absolute;
  top: 0; 
  padding: 0.15rem 0.5rem 0.25rem 0.5rem;
}

.match-pattern {
  font-family: Courier;
  margin-left: 15px;
}

.custom-alert {
  top: 35px;
  position: fixed;
}

.link-username {
  font-weight: bold;
}

.profile-avatar {
  img {
    border-radius: 5px!important;
  }
}

.comment-add-container {
  .comment-input-container {
    min-width: 400px;
  }
  .comment-input {
    background-color: white;
    border: 1px solid $layout-border-color;
  }
}

.list-comments {
  list-style-type: none;
  padding: 0;

  .comment-body {
    width: 100%;
  }
}

.profile-settings-container {
  .title {
    border-bottom: 1px solid $layout-border-color;
  }

  .profile-settings-form {
    width: 100%;
  }
  .profile-avatar-sidebar {
    width: 255px;
  }
}

label {
  font-weight: bold;
}