@import 'variables';
html {
  box-sizing: content-box;
}
html, body, #root, .app {
  height: 100%;
  width: 100%;
}

body {
  background-color: #FDFDFD;

}

/*
 HEADER
*/
header {
  background-color: $header-bg;
  color: $header-font-color;

  .btn-link {
    color: $header-link-color;
    &:hover {
      color: $header-link-color-hover;
      text-decoration: none;
    }
  }
}

.content {
  position: relative;
  width: calc(100% - #{$sidebar-width});
}
.ReactCodeMirror {
  width: 100%;
  .CodeMirror {
    height: 100px;
  }
}
.kommandr-container {
  padding-top: 15px;
  width: 100%;

  .kommandr-title {
    color: $kommandr-title-font-color;
    margin: 1rem 0;
    h2 {
      display: inline-block;
      font-size: $kommandr-title-font-size;
      margin: 0;
    }
    .editable-input {
      border: 0px;
      font-size: $kommandr-title-font-size;
    }
  }

  .kommandr {
    background-color: $kommandr-background;
    border: 1px solid #E1E4E5;
    border-radius: 4px;
    color: $kommandr-font-color;
    font-size: 1.5em;
    width: 100%;
  }

  .kommandr-stats {
    list-style-type: none;
    margin: 0;
    padding: 0;
    li {
      display: inline-block;
      margin-right: 1rem;
    }
  }

  .kommandr-author {
    border-top: 1px solid #EEEEEE;
    margin-top: 1rem;
    padding-top: 1rem;
  }

  .kommandr-description {
    textarea, p {
      width: 300px;
    }
  }
}

.sidebar {
  background-color: $sidebar-bg;
  bottom: 0;
  height: calc(98% - #{$footer-height});
  position: relative;
  top: 0;
  width: $sidebar-width;

  .sidebar-ad {
    position: bottom;
  }
}

.footer {
  background-color: $footer-bg;
  bottom: 0;
  color: $footer-font-color;
  height: $footer-height;
  line-height: $footer-line-height;
  position: absolute;
  width: 100%;
}


.content-editable {
  &.editing {
    .editable {
      display: none;
    }
    input.editable-input {
      display: inline-block;
    }
  }
  input.editable-input {
    display: none;
    border: 0px;
  }
}

.prompt, .search-input {
  user-select: none;
}
.program, .prompt, .option, .argument, .separator {
  font-family: consolas, "Liberation Mono", courier, monospace;
}
//.show { display: block !important;}
.hide { display: none !important;}
