@import 'variables';

html, body {
  height: 100%;
}

body {
  background-color: #FDFDFD;
  font-size: 13px;
}

/*
 HEADER
*/
header {
  background-color: #F0F0F0;
  border-bottom: 1px solid #EEE;
  color: #111;
}

.content {
  margin-top: 2em;
}

.kommandr-container {
  .actions-container {
    text-align: right;
  }
}

.kommandr {
  background-color: $kommandr-background;
  border: 1px solid #E1E4E5;
  border-radius: 4px;
  color: $kommandr-font-color;
  font-family: consolas, "Liberation Mono", courier, monospace;
  font-size: 1.5em;
  margin: 1em 0;
  padding: 0.25em;
  position: relative;
  width: 100%;


  .program {

  }

  .prompt {
    margin-right: 0.5em;
  }
  .completer {
    display: none;;
    position: absolute;
    top: 2em;
    z-index: 10;

    &.expand {
      width: 1%;
    }
    small {
      display: block;
      font-family: sans-serif;
      font-size: 0.65em;
    }
    ul {
      background-color: #FAFAFA;
      border: 1px solid #AAA;
      font-family: monospace;
      list-style: none;
      margin: 0;
      padding: 0em;
      transition: 0.2s;
      li {
        list-style-type: none;
        padding: 0.3em 0.45em;
        transition: 0.1s background-color;
        &:hover {
          background-color: #DDD;
          cursor: pointer;
          transition: 0.2s background-color;
        }
      }
    }
  }
  .search-container {
    min-width: 200px;
    overflow: hidden;
    padding-left: 0;
    &.left-space {
      padding-left: 0.7em;
    }
  }

  .search-input {
    background-color: $kommandr-background;
    border: 0;
    color: $kommandr-font-color;
    width: 100%;

    &:focus {
      outline: none;
    }
  }

  .selected-options {
    ul {
      padding: 0;
      margin: 0;
    }
    li {
      display: inline;
      border-bottom: 1px dotted transparent;
      .option-container {
        transition: all 0.5s;
        &:hover {
          background-color: #F1F1F1;
          border-color: #A0A0A0;
          transition: all 0.5s;
        }
      }
    }
  }
}
.prompt {
  user-select: none;
}
.show { display: block !important;}
.hide { display: none !important;}
